<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.study.project05.map.service.MapService">

    <resultMap id="BranchResultMap" type="org.study.project05.branch.vo.BranchVO">
        <id property="brnIdx" column="b_idx"/>
        <result property="brnName" column="b_name"/>
        <result property="brnAddress" column="b_address"/>
        <result property="brnDescription" column="b_description"/>
        <result property="brnLatitude" column="b_latitude"/>
        <result property="brnLongitude" column="b_altitude"/> <result property="brnPhone" column="b_phone"/>
        <result property="brnFile" column="b_file"/>
        <result property="brnActive" column="b_active"/>
    </resultMap>

    <select id="getBranchList" resultMap="BranchResultMap">
        SELECT
            b_idx, b_name, b_address, b_description,
            b_latitude, b_altitude, b_phone, b_file, b_active
        FROM branch
        WHERE b_active = 1
    </select>

    <select id="getBranchesInMap" resultMap="BranchResultMap">
        SELECT
            b_idx, b_name, b_address, b_description,
            b_latitude, b_altitude, b_phone, b_file, b_active
        FROM branch
        WHERE b_active = 1
          AND b_latitude BETWEEN #{swLat} AND #{neLat}
          AND b_altitude BETWEEN #{swLng} AND #{neLng}
    </select>

    <select id="getBranchLocation" resultMap="BranchResultMap">
        SELECT
            b_idx, b_name, b_address, b_description,
            b_latitude, b_altitude, b_phone, b_file, b_active
        FROM branch
        WHERE b_idx = #{brnIdx}
    </select>

    <select id="getNearbyBranches" resultMap="BranchResultMap">
        SELECT
            b_idx, b_name, b_address, b_description,
            b_latitude, b_altitude, b_phone, b_file, b_active,
            (6371 * acos(cos(radians(#{lat})) * cos(radians(b_latitude))
                             * cos(radians(b_altitude) - radians(#{lng}))
                + sin(radians(#{lat})) * sin(radians(b_latitude)))) AS distance
        FROM branch
        WHERE b_active = 1
        HAVING distance &lt; 5
        ORDER BY distance
    </select>

</mapper>