<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="org.study.project05.map.service.MapService">



    <select id="getBranchList" resultType="org.study.project05.branch.vo.BranchVO">

        SELECT

            b_idx AS brnIdx,

            b_name AS brnName,

            b_address AS brnAddress,

            b_description AS brnDescription,

            b_latitude AS brnLatitude,

            b_altitude AS brnLongitude,

            b_phone AS brnPhone,

            b_file AS brnFile,

            b_active AS brnActive

        FROM branch

        WHERE b_active = 1

    </select>



    <select id="getBranchesInMap" resultType="org.study.project05.branch.vo.BranchVO">

        SELECT

            b_idx AS brnIdx,

            b_name AS brnName,

            b_address AS brnAddress,

            b_description AS brnDescription,

            b_latitude AS brnLatitude,

            b_altitude AS brnLongitude,

            b_phone AS brnPhone,

            b_file AS brnFile,

            b_active AS brnActive

        FROM branch

        WHERE b_active = 1

          AND b_latitude BETWEEN #{swLat} AND #{neLat}

          AND b_altitude BETWEEN #{swLng} AND #{neLng}

    </select>



    <select id="getBranchLocation" resultType="org.study.project05.branch.vo.BranchVO">

        SELECT

            b_idx AS brnIdx,

            b_name AS brnName,

            b_address AS brnAddress,

            b_description AS brnDescription,

            b_latitude AS brnLatitude,

            b_altitude AS brnLongitude,

            b_phone AS brnPhone,

            b_file AS brnFile,

            b_active AS brnActive

        FROM branch

        WHERE b_idx = #{brnIdx}

    </select>



    <select id="getNearbyBranches" resultType="org.study.project05.branch.vo.BranchVO">

        SELECT

            b_idx AS brnIdx,

            b_name AS brnName,

            b_address AS brnAddress,

            b_description AS brnDescription,

            b_latitude AS brnLatitude,

            b_altitude AS brnLongitude,

            b_phone AS brnPhone,

            b_file AS brnFile,

            b_active AS brnActive,

            (6371 * acos(cos(radians(#{lat})) * cos(radians(b_latitude))

                             * cos(radians(b_altitude) - radians(#{lng}))

                + sin(radians(#{lat})) * sin(radians(b_latitude)))) AS distance

        FROM branch

        WHERE b_active = 1

        HAVING distance &lt; 5

        ORDER BY distance

    </select>



</mapper> 
